.header .logo {
  height: 50px;
  float: left; 
}

.ant-layout-header {
  background-color: whitesmoke !important;
  height: 50px !important;
}

.header .noti-ava-acc {
  line-height: 50px; }

.header .avatar {
  margin-left: 25px !important;
  margin-right: 15px !important; }

.header .ant-dropdown-trigger {
  top: 0px;
}

.header .anticon-setting {
  position: relative;
  top: -3px;
}

.header .ant-menu {
  background: whitesmoke !important;
  font-size: 19px;
  font-weight: 600;
}

.header .mr-10 {
  margin-right: 10px !important;
}

.header .ant-menu-horizontal {
  border-bottom: none;
}
