/*
:'######:::'#######::'########::'########::'######::'########::'########::'######:::::::::::::'##::'######::
'##... ##:'##.... ##: ##.... ##: ##.....::'##... ##: ##.... ##: ##.....::'##... ##:::::::::::: ##:'##... ##:
 ##:::..:: ##:::: ##: ##:::: ##: ##::::::: ##:::..:: ##:::: ##: ##::::::: ##:::..::::::::::::: ##: ##:::..::
 ##::::::: ##:::: ##: ##:::: ##: ######:::. ######:: ########:: ######::: ##:::::::::::::::::: ##:. ######::
 ##::::::: ##:::: ##: ##:::: ##: ##...:::::..... ##: ##.....::: ##...:::: ##::::::::::::'##::: ##::..... ##:
 ##::: ##: ##:::: ##: ##:::: ##: ##:::::::'##::: ##: ##:::::::: ##::::::: ##::: ##:'###: ##::: ##:'##::: ##:
. ######::. #######:: ########:: ########:. ######:: ##:::::::: ########:. ######:: ###:. ######::. ######::
:......::::.......:::........:::........:::......:::..:::::::::........:::......:::...:::......::::......:::
*/

.challenge-info > span {
  margin: 0 15px; 
}

.code {
  background: #bdb8d1;
  padding: 10px; 
}

/*
:'######:::'#######::'########::'########::::::::::::'##::'######::
'##... ##:'##.... ##: ##.... ##: ##.....::::::::::::: ##:'##... ##:
 ##:::..:: ##:::: ##: ##:::: ##: ##:::::::::::::::::: ##: ##:::..::
 ##::::::: ##:::: ##: ##:::: ##: ######:::::::::::::: ##:. ######::
 ##::::::: ##:::: ##: ##:::: ##: ##...:::::::::'##::: ##::..... ##:
 ##::: ##: ##:::: ##: ##:::: ##: ##:::::::'###: ##::: ##:'##::: ##:
. ######::. #######:: ########:: ########: ###:. ######::. ######::
:......::::.......:::........:::........::...:::......::::......:::
*/

.split {
  display: flex;
  background: white;
  padding: 0 2px;
}

.split_left {
  width: 50%;
}

.split_right {
  flex: 1;
}

.split_bar {
  background-color: #3C3530;
  width: 5px;
  cursor: col-resize;
}

@media screen and (max-width: 768px) {
  .split_bar {
    display: none;
  }
  .split {
    display: inherit;
  }
  .split_left {
    width: 100% !important;
  }
  .split_right {
    width: 100% !important;
  }
}
