#price {
  text-align: center;
}

#price .paper-plane {
  position: absolute;
  width: 25vw;
  z-index: 2;
}

.plan {
  display: inline-block;
  margin: 10px 30px;
}

.plan-inner {
  background: #fff;
  min-width: 280px;
  max-width: 100%;
  position: relative;
  border-radius: 20px;
  border: 2px solid white;
  box-shadow: 2px 2px 5px 0px indigo;
}

.entry-title {
  background: #53CFE9;
  height: 110px;
  position: relative;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  border-radius: 20px;
}

.entry-title > h3 {
  background: #20BADA;
  font-size: 20px;
  padding: 5px 0;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  border-radius: 20px;
  color: white;
}

.entry-title .price {
  position: absolute;
  bottom: -25px;
  background: #20BADA;
  height: 95px;
  width: 95px;
  margin: 0 auto;
  left: 0;
  right: 0;
  overflow: hidden;
  border-radius: 50px;
  border: 5px solid #fff;
  line-height: 80px;
  font-size: 28px;
  font-weight: 700; }

.price span {
  position: absolute;
  font-size: 9px;
  bottom: -15px;
  left: 5px;
  font-weight: 400;
  width: 100%;
}

.entry-content {
  color: #323232; }

.entry-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center; }

.entry-content li {
  padding: 10px 20px; 
}

.entry-content li:last-child {
  border: none; }

.hot {
  position: absolute;
  top: -7px;
  background: #F80;
  color: #fff;
  text-transform: uppercase;
  z-index: 2;
  padding: 3px 8px;
  font-size: 9px;
  border-radius: 2px;
  right: 5px;
  font-weight: 700; }

.basic .entry-title {
  background: #75DDD9; }

.basic .entry-title > h3 {
  background: #44CBC6; }

.basic .price {
  background: #44CBC6; }

.standard .entry-title {
  background: #4484c1; }

.standard .entry-title > h3 {
  background: #3772aa; }

.standard .price {
  background: #3772aa; }

.ultimite .entry-title > h3 {
  background: #DD4B5E; }

.ultimite .entry-title {
  background: #F75C70; }

.ultimite .price {
  background: #DD4B5E; }

.plan-inner li {
  text-align: left;
  padding-left: 30px;
}

.plan-inner li .anticon-check {
  margin-right: 5px;
  position: relative;
  bottom: 2px;
}

.plan-inner .ant-divider-horizontal {
  margin: 3px 0 0 0;
}

.plan-inner .ant-btn {
  border-radius: 20px;
  padding: 0 15px;
  border: 2px solid white;
  box-shadow: 2px 2px 5px 0px indigo;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}

.plan-inner .ant-btn span {
  top: -10px;
  position: relative;
}

.payment-modal .user-plan .details {
  border-bottom: 1px solid black;
  padding-bottom: 0;
}

.payment-modal .ant-modal-title {
  font-size: 20px;
  font-weight: 500;
}

.payment-modal .ant-modal-header {
  background-color: #20BADA;
}

.payment-modal .ant-modal-body {
  padding: 12px;
}

.payment-modal .ant-divider {
  margin: 10px 0px;
}

.payment-modal .header {
  font-size: 16px;
  font-weight: 500;
}

.user-plan span {
  font-size: 20px;
  font-weight: 700;
}

.user-plan .price {
  float: right;
  color: orangered;
}

