.box_feat {
  background-color: #fff;
  padding: 165px 30px 20px 30px;
  text-align: center;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
}
.box_feat h3 {
  text-transform: uppercase;
  font-size: 21px;
  font-size: 1.3125rem;
  margin-top: 25px;
  color: #e74e84;
}
.box_feat#icon_1 {
  background: #fff url(../../img/icon-home-1.svg) no-repeat center 45px;
}
.box_feat#icon_2 {
  background: #fff url(../../img/icon-home-2.svg) no-repeat center 45px;
}
.box_feat#icon_3 {
  background: #fff url(../../img/icon-home-3.svg) no-repeat center 45px;
}
.box_feat span {
  position: absolute;
  top: 50%;
  right: -48px;
  margin: -42px 0 0 0;
  width: 70px;
  height: 70px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #ededed;
  background: #fff url(../../img/arrow-gray-1.svg) no-repeat center center;
  display: block;
  z-index: 9;
}
@media (max-width: 991px) {
  .box_feat span {
    /* For less than 991px */
    top: 100%;
    left: 50%;
    margin: -20px 0 0 -35px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

/* ######################################################################################### */
/* ######################################################################################### */
/* ######################################################################################### */

#reccomended {
  margin: 40px;
}
@media (max-width: 767px) {
  #reccomended {
    /* For less than 767px */
    margin: 0 0 15px 0;
  }
}
#reccomended .item .title {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 9;
}
#reccomended .item .title h4 {
  background-color: #3f4079;
  background-color: #3f4079;
  display: inline-block;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  color: #fff;
  padding: 10px 15px;
  margin: 0;
  font-size: 16px;
  font-size: 1rem;
  opacity: 0;
}
#reccomended .item .title h4 em {
  display: block;
  font-size: 13px;
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 300;
  margin-top: 3px;
}
#reccomended .item a {
  position: relative;
  display: block;
}
#reccomended .item a .views {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: #3f4079;
  background-color: #3f4079;
  color: #fff;
  box-sizing: border-box;
  padding: 3px 6px 4px 5px;
  line-height: 1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  font-weight: 600;
  font-size: 12px;
  font-size: 0.75rem;
  opacity: 0;
}
#reccomended .item a .views i {
  font-size: 16px;
  font-size: 1rem;
  font-weight: normal;
  margin-right: 3px;
  position: relative;
  top: 1px;
}

#reccomended .owl-item {
  opacity: 0.5;
  transform: scale(0.85);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(0.85, 0.85);
  transition: all 0.3s ease-in-out 0s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}

#reccomended .owl-item.active.center {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: scale(1);
}

#reccomended .owl-item.active.center .item .title h4,
#reccomended .owl-item.active.center .item .views {
  opacity: 1;
}

.owl-theme .owl-dots {
  margin-top: 25px !important;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #e74e84 !important;
}
