.tutorial-item .ant-list-item {
  display: flex;
}

.tutorial-item .ant-list-item-main {
  order: 1;
  padding: 10px;
}
.tutorial-item .ant-list-item-extra {
  order: 0;
  margin-left: 0 !important;
  width: 35%;
}

.tutorial-item .title {
  font-size: 1.5rem;
  font-family: Mali;
  font-weight: 700;
  line-height: 1.235;
}

.tutorial-item .ant-badge {
  float: right;
  line-height: 30px;
}

.tutorial-item .messages {
  margin: 0px 10px 0px 10px !important;
}

.tutorial-item .ant-btn {
  float: right;
  border-radius: 20px;
  padding: 0 20px;
  border: 2px solid white;
  box-shadow: 2px 2px 5px 0px indigo;
}

.tutorial-item {
  border: 1px solid whitesmoke;
  padding: 0 !important;
  overflow: hidden;
  border-radius: 10px !important;
  /* box-shadow: 3px 3px 5px 0px whitesmoke; */
  box-shadow: 2px 2px 5px 0px indigo;
  margin-bottom: 30px;
  background-color: #fff;
  height: 230px;
}

.tutorial-item .description {
  min-height: 70px;
}

.tutorial-item .like-dislike {
  font-size: 20px;
}

.tutorial-item .like-dislike i {
  position: relative;
  bottom: 3px;
  margin: 0px 3px 0px 15px;
}

.tutorial-details {
  background-color: white;
  margin: 10px 0px 0px 0px;
  padding: 20px 20px 0px 40px !important;
}

.tutorial-details .ant-avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tutorial-details .info {
  bottom: 5px;
  right: 10px;
  font-style: italic;
}

.tutorial-details .title {
  font-size: 50px;
  font-weight: 800;
}

.tutorial-details .description {
  margin-top: 20px;
  margin-bottom: 10px;
}

.tutorial-details .like-dislike {
  float: right;
  font-size: 24px;
}

.tutorial-details .like-dislike i {
  position: relative;
  bottom: 5px;
  margin: 0px 3px 0px 15px;
}

.tutorial-details .ant-comment-inner {
  padding: 8px 0;
}