.contest-item .ant-list-item {
  display: flex;
}

.contest-item .ant-list-item-main {
  order: 1;
  padding: 10px;
}
.contest-item .ant-list-item-extra {
  order: 0;
  margin-left: 0 !important;
  width: 35%;
}

.contest-item .title {
  font-size: 1.5rem;
  font-family: Mali;
  font-weight: 700;
  line-height: 1.235;
}

.contest-item .ant-badge {
  float: right;
  line-height: 30px;
}

.contest-item .messages {
  margin: 0px 10px 0px 10px !important;
}

.contest-item .ant-btn {
  float: right;
  border-radius: 20px;
  padding: 0 20px;
  border: 2px solid white;
  box-shadow: 2px 2px 5px 0px indigo;
}

.contest-item {
  border: 1px solid whitesmoke;
  padding: 0 !important;
    border-radius: 10px !important;
    overflow: hidden;
  /* box-shadow: 3px 3px 5px 0px whitesmoke; */
  box-shadow: 2px 2px 5px 0px indigo;
  margin-bottom: 30px;
  background-color: #fff;
  height: 230px;
}

.contest-item .description {
  min-height: 70px;
}

.contest-item .contest-status {
  background-color: yellowgreen;
  width: 160px;
  color: white;
  height: 30px;
  text-align: center;
  position: relative;
  line-height: 30px;
  transform: rotate(-45deg);
  left: -65%;
  top: 20px;
}

.contest-details {
  background-color: white;
  margin: 10px 0px 0px 0px;
  padding: 20px 20px 0px 40px !important;
}

.contest-details .ant-avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contest-details .info {
  bottom: 5px;
  right: 10px;
  font-style: italic;
}

.contest-details .title {
  font-size: 50px;
  font-weight: 800;
}

.contest-details .description {
  margin-top: 20px;
  margin-bottom: 10px;
}

.contest-details .like-dislike {
  float: right;
  font-size: 24px;
}

.contest-details .like-dislike i {
  position: relative;
  bottom: 5px;
  margin: 0px 3px 0px 15px;
}

.contest-details .ant-comment-inner {
  padding: 8px 0;
}

.contest-card {
  overflow: hidden;
  border-radius: 10px !important;
  box-shadow: 2px 2px 5px 0px indigo;
}

.contest-card .register {
  background-color: yellowgreen;
  width: 150px;
  color: white;
  height: 30px;
  text-align: center;
  position: absolute;
  line-height: 30px;
  transform: rotate(-45deg);
  left: -35px;
  top: 20px;
}

.contest-card .ant-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 20px;
  padding: 0 15px;
  border: 2px solid white;
  box-shadow: 2px 2px 5px 0px indigo;
}

.contest-card .ant-card-body {
  padding: 8px 12px;
}

.contest-card .ant-tag {
  margin-left: 4px;
}

.contest-card .header {
  font-size: 1.3rem;
  font-family: Mali;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0px;
}

.contest-card .status {
  position: relative;
  top: -2px;
  margin-left: 10px;
}

.contest-card .other-rounds {
  opacity: 0.5;
}