.contest-item .ant-list-item {
  display: flex;
}

.contest-item .ant-list-item-main {
  order: 1;
  padding: 10px;
}
.contest-item .ant-list-item-extra {
  order: 0;
  margin-left: 0 !important;
  width: 35%;
}

.contest-item .title {
  font-size: 1.5rem;
  font-family: Mali;
  font-weight: 700;
  line-height: 1.235;
}

.contest-item .ant-badge {
  float: right;
  line-height: 30px;
}

.contest-item .messages {
  margin: 0px 10px 0px 10px !important;
}

.contest-item .ant-btn {
  float: right;
  border-radius: 20px;
  padding: 0 20px;
  border: 2px solid white;
  box-shadow: 2px 2px 5px 0px indigo;
}

.contest-item {
  border: 1px solid whitesmoke;
  padding: 0 !important;
    border-radius: 10px !important;
    overflow: hidden;
  /* box-shadow: 3px 3px 5px 0px whitesmoke; */
  box-shadow: 2px 2px 5px 0px indigo;
  margin-bottom: 30px;
  background-color: #fff;
  height: 230px;
}

.contest-item .description {
  min-height: 70px;
}

.contest-item .like-dislike {
  font-size: 20px;
}

.contest-item .like-dislike i {
  position: relative;
  bottom: 5px;
  margin: 0px 3px 0px 15px;
}

.contest-item .contest-status {
  background-color: yellowgreen;
  width: 160px;
  color: white;
  height: 30px;
  text-align: center;
  position: relative;
  line-height: 30px;
  transform: rotate(-45deg);
  left: -370px;
  top: 20px;
}

.contest-details {
  background-color: white;
  margin: 10px 0px 0px 0px;
  padding: 20px 20px 0px 40px !important;
}