.challenge-modal .ant-modal-header {
  background-color: lightskyblue;
}

.challenge-modal .ant-steps {
  width: 70% !important;
  margin: 10px auto !important;
}

.challenge-modal .ant-form-item {
  margin-bottom: 12px !important;
}

.ant-steps-item-container {
  line-height: 170px;
}

.challenge-source-modal .ant-form-item-control-wrapper {
  width: 60%;
}

.testcase-update .switch {
  display: inline-block;
  margin: 0;
  top: -10px;
  left: 10px;
}

.testcase-update .output {
  top: 40px;
}

.testcase-update .output .ant-form-item-children-icon {
  right: 65px !important;
}

.testcase-update .is-hidden-testcase-icon {
  position: absolute;
  margin-left: 5px;
  top: 1px;
}

.testcase-update .remove-testcase-icon {
  margin-right: 8px;
  position: relative;
  top: -3px;
}

.add-language-result .switch {
  display: inline-block;
  margin: 0;
  top: -10px;
  left: 10px;
}

.add-language-result .output {
  top: 40px;
}

.add-language-result .is-hidden-testcase-icon {
  position: absolute;
  margin-left: 5px;
  top: 1px;
}
