.challenge-modal .ant-modal-header {
  background-color: lightskyblue;
}

.challenge-modal .ant-steps {
  width: 70% !important;
  margin: 10px auto !important;
}

.ant-steps-item-container {
  line-height: 170px;
}

.challenge-source-modal .ant-form-item-control-wrapper {
  width: 60%;
}
